/* Variable */
:root {
    --color-text-nav: #fff;
}

/* Reset page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {}

/* Process header */
#header {
    height: 46.5px;
    background: black;
}

/* -----Navigation: nav*/
#nav,
#subnav {
    list-style: none;
}

#nav li {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

#nav>li>a {
    color: var(--color-text-nav);
    text-transform: uppercase;
}

#nav li a {
    line-height: 46.5px;
    padding: 0px 24px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
}


#nav>li:hover>a,
#nav #subnav>li:hover>a {
    color: #000;
    background: #cecece;
}

/* -----Navigation: subnav*/
#nav #subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 0 10px rgb(187, 187, 187);
}
#nav>li:hover #subnav {
    display: block;
}


#nav #subnav li {
    width: 100%;
}

#nav #subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
    min-width: 160px;
}

/* Process slider */
#slider {
}

/* Process content */
#content {}

/* Process footer */
#footer {}